@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
*{
  padding: 0%;
  margin: 0%;
}

.info{
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 50%;
  z-index: 2;
  top: 9%;
  color: #ffff;
}
.info h2{
  font-size: 30px;
  font-weight: 400;
  margin-top: 70px;
}
.info img{
  position: absolute;
  top: 0%;
  z-index: 2;
  margin-bottom: 10px;
}